*{
  padding: 0;
  margin: 1vh, 1vw, 1vh, 1vw;
  box-sizing: border-box;
  font-family: "Kollektif";
  src: url('./assets/Kollektif.ttf');
  min-height: max-content;
}

@font-face{
  font-family: "Kollektif";
  src: url('./assets/Kollektif.ttf');
}
.root{
  height: 100%;
}
.head-button{
  padding: 0%;
  margin: 0%;
  margin: auto;
}

html{
  height: 100%;
}
.App{
  height: 70%;
}

.spicyspicyhead{
  height: 70%
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 50%;  
  margin: auto;
}

.items {
  width: 70%;
  margin: 3rem auto 0 auto;    
}

.header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

input {
  padding: 10px 3px;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn {
  padding: 10px 1rem;
  background: #334;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.disabled {
  padding: 10px 1rem;
  background: rgb(127, 127, 165);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.horizontal-items, .footer {
  display: flex;
  flex-direction: row;
}
.headheadhead .horizontal-items{
  width: auto;
}
.logo-text{
height: auto;
}

.horizo{
  margin: auto;
  margin-left: 5px;
  margin-right: 55%;
}
.leftleftxx{
  width: max-content;
}

.logo-text{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0%;
}

.regreg{
  margin-left: 50%;
}

p.nav{
  justify-content: space-between;
  font-size: 27px;
  margin: 0%;
}
.horizo{
  flex-direction: row;
}

.link{
  color: lightseagreen;
  font-size: 34px;
}

.leftxlog{
  margin: auto;
}

.footer{
  margin: auto;
  padding-top: 35vh;
}

.footer-text{
  margin: 2vh;
}