*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kollektif";
  src: url('./assets/Kollektif.ttf');
}

@font-face{
  font-family: "Kollektif";
  src: url('./assets/Kollektif.ttf');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;    
}

.items {
  width: 70%;
  margin: 3rem auto 0 auto;    
}

.header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

input {
  padding: 10px 3px;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn {
  padding: 10px 1rem;
  background: #334;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.disabled {
  padding: 10px 1rem;
  background: rgb(127, 127, 165);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.horizontal-items, .footer {
  display: flex;
  flex-direction: row;
}

.logo-text{
  display: flex;
  flex-direction: column;
  margin: auto
}

.nav{
  justify-content: space-between;
  font-size: 27px;
}

.link{
  color: lightseagreen;
  font-size: 34px;
}
